/*Element*/
li {
text-transform: uppercase;
}


/*class*/
.hello {
text-transform: lowercase;
}


/*id*/
#name::first-letter {
text-transform: uppercase; 
font-size: 3em; 
font-weight: bold; 
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
letter-spacing: 5px;
}

/*Star*/

* {
	border: 1px solid lightgrey;
}

/*Descendant Selector*/

li a {
	color: red;
}

/*Adjacent Selector*/

h4 + ul {
	border: 4px solid red;
}


/*Attribute Selector*/

a[href="http://www.google.com"] {
	background: blue;
	text-transform: lowercase;
}

/* other options for Attribute Selectors
input[type="text"]
input[type="checkbox"] */



/*nth of type*/

li:nth-of-type(odd){
	background: purple;
}
